.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  img {
    max-width: 100%;
    height: auto;
  }

  #boton {
    max-width: 100%;
    width: 350px;
    height: 50px;
    align-items: center;
  }
}

.dashboard-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    max-width: 100%;
    height: auto;
  }

  #boton {
    max-width: 100%;
    width: 350px;
    height: 50px;
    align-items: center;
  }
}
.boton{
  display: block;
  margin:0 auto;
  max-width: 100%;
  width: 60%;
}

.contenedor{
  position: relative;
  display: inline-block;
  text-align: center;
}
.imagen-bar{
  max-width: 10%;
   margin: 8px 35px 8px 8px;
   display: flex;
   align-items: center;
}

.centrado{
  position: absolute;
  top: 90%;
  left: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transform: translate(-50%, -50%);
  color: black;
  background: #EAE5E2;
  background-size: 30%;
  opacity:.5;
}

.boton2{
  display: block;
  margin:0 auto;
  max-width: 100%;
  width: 60%;
}
.contenedor2{
  position: relative;
  display: inline-block;
  text-align: center;
}
.centrado2{
  position: absolute;
  top: 90%;
  left: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transform: translate(-50%, -50%);
  color: black;
  background: #EAE5E2;
  background-size: 30%;
  opacity:.5;
}

.boton3{
  display: block;
  margin:0 auto;
  max-width: 100%;
  width: 60%;
}
.contenedor3{
  position: relative;
  display: inline-block;
  text-align: center;
}
.centrado3{
  position: absolute;
  top: 90%;
  left: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transform: translate(-50%, -50%);
  color: black;
  background: #EAE5E2;
  background-size: 30%;
  opacity:.5;
}

.boton4{
  display: block;
  margin:0 auto;
  max-width: 100%;
  width: 60%;
}
.contenedor4{
  position: relative;
  display: inline-block;
  text-align: center;
}
.centrado4{
  position: absolute;
  top: 90%;
  left: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transform: translate(-50%, -50%);
  color: black;
  background: #EAE5E2;
  background-size: 30%;
  opacity:.5;
}
.section{
  border-radius: 47px;
  border: 2px solid #86b0e8;
  background-color: #86b0e8;
}
.foto2 { 
   
  width: 50px; height: 50px; float: right; top: 25px;  }
  .button{
    border-radius: 47px;
  border: 2px solid #fffefe;
  }
  html, body{
    height: 100%;
    background-color: #000;
  }
  
 
 .img{
 
   widows: 300px; 
   height: 204px;
   object-fit: cover;
 }
 html, body {
  height: 100%;
  background-color: #fffbfb;
}
#lista1 li {
     display:inline;
     padding-left:3px;
     padding-right:3px;
}
.button1{
  border-color: #223abe;
  border-radius: 14px;
}
.cuadrado{
  padding:5px;
  margin:5px;
  background-color: #6390e2;
  border: solid 1px #6390e2;
  color: white;
  }
  .circular--portrait {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .circular--portrait img {
    width: 100%;
    height: auto;
  }

